@charset "utf-8";

body {
    font-size: 18px;
    font-family: '微軟正黑體', 'Arial', sans-serif;
    color: #333333;
}
.innerWrap {
    margin: 0 auto;
    padding: 30px 10px 30px;
}
main {
    background-color: whitesmoke;
}
main .meSec,
.turnpointSec,
.wbSec {
    padding: 0 250px 0 100px;
}
main h2 {
    font-size: 30px;
    line-height: 1.8;
    border-bottom: 2px solid lightcoral;
    margin: 30px 0;
}
main h3 {
    color: lightcoral;
    font-size: 20px;
    line-height: 1.8;
}
main p {
    line-height: 1.8;
    margin-bottom: 20px;
}
main ul {
    line-height: 1.8;
    margin-bottom: 20px;
}
header {
    background-color: whitesmoke;
    margin-bottom: 700px;
}
header .innerWrap {
    background: url(../images/flower-4865379_1280.png) no-repeat right center/cover;
    height: 720px;
    position: relative;
}
header nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}
header nav ul {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 10px 20px;
}
header nav ul li a:hover {
    text-decoration: underline;
}
header img {
    width: 30%;
    height: 30%;
    display: block;
    margin: 20px auto;
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.16);
}
header h1 {
    width: 100%;
    margin: 20px auto;
    font-size: 18px;
    text-align: center;
    padding-top: 60px;
}
footer {
    background-color: #333333;
    color:antiquewhite;
    width: 100%;
    padding: 14px 10px 20px;
    text-align: center;
}
header::after {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../images/airport-924118_1280.jpg) no-repeat center/cover;
    z-index: -1;
}
@media screen and (max-width:640px) {
    body {
        font-size: 16px;
    }
    header {
        backgroungd: url(../images/flower-4865379_1280.png) no-repeat right top/cover;
    }
    header .innerWrap {
        height: 90vh;
    }
    header nav ul {
      width: 100%;
    }
    header h1 img {
      width: 100%;
    }
    main h2 {
      font-size: 44px;
      margin-bottom: 60px;
    }
    header h1 {
      padding-top: 80px;
    }
}